/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
}

.mdl-demo .mdl-layout__header-row {
	padding-left: 40px;
	background-color: #2EA3F2;
}

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
	font-size: inherit;
}

.mdl-demo .mdl-layout__tab-bar-button {
	display: none;
	color: #2EA3F2;
}

.mdl-demo .mdl-layout.is-small-screen .mdl-layout__tab-bar .mdl-button {
	display: none;
}

.mdl-demo .mdl-layout:not (.is-small-screen ) .mdl-layout__tab-bar,
	.mdl-demo .mdl-layout:not (.is-small-screen )
	.mdl-layout__tab-bar-container {
	overflow: visible;
}

.mdl-demo .mdl-layout__tab-bar-container {
	height: 64px;
}

.mdl-demo .mdl-layout__tab-bar {
	padding: 0;
	padding-left: 16px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab {
	height: 64px;
	line-height: 64px;
	color: #2EA3F2;
}

.mdl-demo .mdl-layout__tab-bar .mdl-layout__tab.is-active::after {
	background-color: white;
	height: 4px;
}

.mdl-demo main>.mdl-layout__tab-panel {
	padding: 8px;
	padding-top: 48px;
}

.mdl-demo .mdl-card {
	height: auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.mdl-demo .mdl-card>* {
	height: auto;
}

.mdl-demo .mdl-card .mdl-card__supporting-text {
	margin: 40px;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0;
	color: inherit;
	width: calc(100% - 80px);
}

.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
	margin-top: 0;
	margin-bottom: 20px;
}

.mdl-demo .mdl-card__actions {
	margin: 0;
	padding: 4px 40px;
	color: inherit;
}

.mdl-demo .mdl-card__actions a {
	color: #00BCD4;
	margin: 0;
}

.mdl-demo .mdl-card__actions a:hover, .mdl-demo .mdl-card__actions a:active
	{
	color: inherit;
	background-color: transparent;
}

.mdl-demo .mdl-card__supporting-text+.mdl-card__actions {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mdl-demo #add {
	position: absolute;
	right: 40px;
	top: 36px;
	z-index: 999;
}

.mdl-demo
 
.mdl-layout__content
 
section
:not
 
(
:last-of-type
 
)
{
position
:
 
relative
;

	
margin-bottom
:
 
48
px
;


}
.mdl-demo section.section--center {
	max-width: 860px;
}

.mdl-demo #features section.section--center {
	max-width: 620px;
}

.mdl-demo section>header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.mdl-demo section>.section__play-btn {
	min-height: 200px;
}

.mdl-demo section>header>.material-icons {
	font-size: 3rem;
}

.mdl-demo section>button {
	position: absolute;
	z-index: 99;
	top: 8px;
	right: 8px;
}

.mdl-demo section .section__circle {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.mdl-demo section .section__text {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding-top: 8px;
}

.mdl-demo section .section__text h5 {
	font-size: inherit;
	margin: 0;
	margin-bottom: 0.5em;
}

.mdl-demo section .section__text a {
	text-decoration: none;
}

.mdl-demo section .section__circle-container>.section__circle-container__circle
	{
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin: 8px 0;
}

.mdl-demo section.section--footer .section__circle--big {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin: 8px 32px;
}

.mdl-demo .is-small-screen section.section--footer .section__circle--big
	{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin: 8px 16px;
}

.mdl-demo section.section--footer {
	padding: 64px 0;
	margin: 0 -8px -8px -8px;
}

.mdl-demo
 
section
.section--center
 
.section__text
:not
 
(
:last-child
 
)
{
border-bottom
:
 
1
px
 
solid
 
rgba
(0
,
0,
0,
.13
);


}
.mdl-demo .mdl-card .mdl-card__supporting-text>h3:first-child {
	margin-bottom: 24px;
}

.mdl-demo
 
.mdl-layout__tab-panel
:not
 
(
#overview
 
)
{
background-color
:
 
white
;


}
.mdl-demo #features section {
	margin-bottom: 72px;
}

.mdl-demo #features h4, #features h5 {
	margin-bottom: 16px;
}

.mdl-demo .toc {
	border-left: 4px solid #C1EEF4;
	margin: 24px;
	padding: 0;
	padding-left: 8px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.mdl-demo .toc h4 {
	font-size: 0.9rem;
	margin-top: 0;
}

.mdl-demo .toc a {
	color: #4DD0E1;
	text-decoration: none;
	font-size: 16px;
	line-height: 28px;
	display: block;
}

.mdl-demo .mdl-menu__container {
	z-index: 99;
}

$
color: #1abc9c ; h1, input::-webkit-input-placeholder, button {
	font-family: 'roboto', sans-serif;
	transition: all 0.3s ease-in-out;
}

.logindiv {
	box-sizing: border-box;
	width: 255px;
	margin: 100px auto 0;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	padding-bottom: 40px;
	border-radius: 5px;
	padding-top: 10px; h1 { box-sizing : border-box;
	padding: 20px;
}

}
.logininput {
	margin: 40px 25px;
	text-align: center;
	width: 200px;
	display: block;
	border: none;
	padding: 10px 0;
	border-bottom: solid 1px$color;
	transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%,$color
		4%);
	background-position: -200px 0;
	background-size: 200px 100%;
	background-repeat: no-repeat;
	color: darken($ color, 20%); &: focus , & : valid {
    box-shadow : none;
	outline: none;
	background-position: 0 0; &:: -webkit-input-placeholder { color : $
	color;
	font-size: 11px;
	transform: translateY(-20px);
	visibility: visible !important;
}

}
}
.loginbutton {
	border: none;
	background: $color;
	cursor: pointer;
	border-radius: 3px;
	padding: 6px;
	width: 200px;
	color: blue;
	margin-left: 25px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); &: hover { transform :
	translateY( -3px);
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

}
&
:hover {
	width: 134px;
	transform: translateX(-50px);
	i
	{
	margin-right
	:
	10px;
}

}
}
.layoutpagemenu {
	background-color: #ffffff;
	height: 400px;
	width: 150px;
	padding-left: 15px;
	padding-top: 10px;
	float: left;
}

.layoutpagecontent {
	background-color: #ffffff;
	height: 100%;
	padding-top: 10px;
	padding-left: 10px;
	overflow: hidden;
}

.demo-section p {
	margin: 3px 0 20px;
	line-height: 50px;
}

.demo-section .k-button {
	width: 250px;
}

.k-notification {
	border: 0;
}

/* Info template */
.k-notification-info.k-group {
	background: rgba(0%, 0%, 0%, .7);
	color: #fff;
}

/* Error template */
.k-notification-error.k-group {
	background: rgba(100%, 0%, 0%, .7);
	color: #ffffff;
}

.wrong-pass {
	width: 300px;
	height: 100px;
}

.wrong-pass h3 {
	font-size: 1em;
	padding: 32px 10px 5px;
}

.wrong-pass img {
	float: left;
	margin: 30px 15px 30px 30px;
}

/* Success template */
.k-notification-upload-success.k-group {
	background: rgba(0%, 60%, 0%, .7);
	color: #fff;
}

.upload-success {
	width: 240px;
	height: 100px;
	padding: 0 30px;
	line-height: 100px;
}

.upload-success h3 {
	font-size: 1.7em;
	font-weight: normal;
	display: inline-block;
	vertical-align: middle;
}

.upload-success img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.ul-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

.li-menu {
	float: left;
}

.li-menu a {
	display: block;
	color: #2EA3F2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.li-menu a:hover {
	background-color: #2EA3F2;
	color: white;
}

.active {
	background-color: #2EA3F2;
}

.backBody {
	background-color: white;
}

.k-grid tbody .k-button {
	min-width: 18px;
	width: 24px;
}

.k-edit-form-container {
	width: 700px;
}

.k-ff input.k-textbox {
	margin: 0;
}

.k-grid tbody .k-button {
        min-width: 18px;
        width: 24px;
}

.k-grid {
    font-size: 12px;
}
.k-grid td {
    line-height: 2em;
}